## Query

In [1]:
# usage example (the mysql detail already defined)
# simple query
query_address_components_order_garden = """
 SELECT
        address_components.address_componentable_id ,
        (CASE
            WHEN LOWER(address_components.administrative_area_level_1) = 'jakarta' THEN 'Daerah Khusus Ibukota Jakarta'
            WHEN LOWER(address_components.administrative_area_level_1) = 'west java' THEN 'Jawa Barat'
            WHEN LOWER(address_components.administrative_area_level_1) = 'east java' THEN 'Jawa Timur'
            WHEN LOWER(address_components.administrative_area_level_1) = 'north sumatra' THEN 'Sumatera Utara'
            WHEN LOWER(address_components.administrative_area_level_1) = 'federal district' THEN 'Distrik Federal'
            ELSE address_components.administrative_area_level_1
        END) AS administrative_area_level_1 ,
        (CASE
            WHEN LOWER(address_components.administrative_area_level_2) = 'east jakarta city' THEN 'Jakarta Timur'
            WHEN LOWER(address_components.administrative_area_level_2) = 'west jakarta city' THEN 'Jakarta Barat'
            WHEN LOWER(address_components.administrative_area_level_2) = 'north jakarta city' THEN 'Jakarta Utara'
            WHEN LOWER(address_components.administrative_area_level_2) = 'central jakarta city' THEN 'Jakarta Pusat'
            WHEN LOWER(address_components.administrative_area_level_2) = 'depok city' THEN 'Depok'
            WHEN LOWER(address_components.administrative_area_level_2) = 'tangerang regency' THEN 'Tangerang'
            WHEN LOWER(address_components.administrative_area_level_2) = 'tangerang city' THEN 'Tangerang'
            WHEN LOWER(address_components.administrative_area_level_2) = 'bogor regency' THEN 'Bogor'
            WHEN LOWER(address_components.administrative_area_level_2) = 'ciamis regency' THEN 'Ciamis'
            WHEN LOWER(address_components.administrative_area_level_2) = 'cimahi city' THEN 'Cimahi'
            WHEN LOWER(address_components.administrative_area_level_2) = 'bandung regency' THEN 'Bandung'
            WHEN LOWER(address_components.administrative_area_level_2) = 'west bandung regency' THEN 'Bandung Barat'
            WHEN LOWER(address_components.administrative_area_level_2) = 'sukabumi city' THEN 'Sukabumi'
            WHEN LOWER(address_components.administrative_area_level_2) = 'klungkung regency' THEN 'Klungkung'
            WHEN LOWER(address_components.administrative_area_level_2) = 'bekasi regency' THEN 'Kuningan'
            WHEN LOWER(address_components.administrative_area_level_2) = 'deli serdang regency' THEN 'Deli Serdang'
            WHEN LOWER(address_components.administrative_area_level_2) = 'denpasar city' THEN 'Denpasar'
            WHEN LOWER(address_components.administrative_area_level_2) = 'malang city ' THEN 'Malang'
            WHEN LOWER(address_components.administrative_area_level_2) = 'south tangerang city' THEN 'Tangerang Selatan'
            ELSE address_components.administrative_area_level_2
        END) AS administrative_area_level_2 ,
         (CASE
            WHEN LOWER(address_components.administrative_area_level_3) = 'kebonjeruk' THEN 'Kebon Jeruk'
            WHEN LOWER(address_components.administrative_area_level_3) = 'pandeglang sub-sistrict' THEN 'Pandeglang'
            WHEN LOWER(address_components.administrative_area_level_3) = 'rawalumbu' THEN 'Rawa Lumbu'
            WHEN LOWER(address_components.administrative_area_level_3) = 'serpong sub-district' THEN 'Serpong'
            ELSE address_components.administrative_area_level_3
        END) AS administrative_area_level_3 
    FROM address_components
WHERE address_components.address_componentable_type LIKE '%OrderGarden'
"""

In [2]:
# Import Function
from functions.database_load import *

In [13]:
# from importlib import reload
# import functions.database_load
# reload(functions.database_load)

In [3]:
# fetch data
address_components_order_garden = fetch_data(query_address_components_order_garden)

In [4]:
address_components_order_garden

,address_componentable_id,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3
0,65,Daerah Khusus Ibukota Jakarta,Jakarta Timur,Pasar Rebo
1,66,Banten,Tangerang Selatan,Pondok Aren
2,69,Daerah Khusus Ibukota Jakarta,Jakarta Timur,Ciracas
3,70,Daerah Khusus Ibukota Jakarta,Jakarta Timur,Ciracas
4,72,Jawa Barat,Bekasi,
...,...,...,...,...
95,191,Banten,Tangerang Selatan,Serpong
96,192,Daerah Khusus Ibukota Jakarta,Jakarta Selatan,Kebayoran Baru
97,194,Daerah Khusus Ibukota Jakarta,Jakarta Selatan,Kebayoran Baru
98,195,Daerah Khusus Ibukota Jakarta,Jakarta Utara,Pademangan
99,196,Jawa Barat,Bogor,Citeureup

In [5]:
address_components_order_garden.to_csv("result/address_components_order_garden.csv", index = False )